@import 'application.bootstrap';


.hover-opacity {
    transition: opacity 0.3s ease; /* スムーズな遷移 */
  }
  
  .hover-opacity:hover {
    opacity: 0.8; /* マウスホバー時に半透明になる */
  }
  
  /* 必要に応じてカードのサイズを調整 */
  .card {
    height: 100%; /* カードを親要素の高さに合わせる */
  }
  
  .container {
    padding:20px;
    margin: 20px auto;


  }